# NUNCA subir esto a git
.env

# Python
__pycache__/
*.py[cod]
.venv/
venv/
*.db
*.sqlite3

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Local / herramientas
.atl/
docker-compose.yml
Dockerfile
docker-compose.override.yml

# Backups de BD
backup_*.sql
*.dump

# Skills
.agents/
